@model ProyectoG2_Pokedex.Models.RegistroModel
@{
    ViewData["Title"] = "Registro";
}
<link href="~/css/registro.css" rel="stylesheet" />
<div class="container">
    <div class="registro-header">
        <img src="~/images/pokeini.png" alt="Pokémon Trading Card Game Online" class="Logo" />
    </div>
    <ol id="Registro"></ol>
</div>
<div class="registro-container">
    <div class="registro-form">
        <form method="post" class="form">
            <div class="form-group">
                <label for="NombreUsuario">Username:</label>
                <input type="text" id="NombreUsuario" name="NombreUsuario" class="form-control" 
                       value="@Model.NombreUsuario" required />
                @if (ViewData["NombreUsuarioError"] != null)
                {
                    <div class="text-danger">@ViewData["NombreUsuarioError"]</div>
                }
            </div>

            <div class="form-group">
                <label for="Contraseña">Password:</label>
                <input type="password" id="Contraseña" name="Contraseña" class="form-control" 
                       value="@Model.Contraseña" required />
                @if (ViewData["ContraseñaError"] != null)
                {
                    <div class="text-danger">@ViewData["ContraseñaError"]</div>
                }
            </div>

            <div class="form-group">
                <label for="NombreCompleto">Full Name:</label>
                <input type="text" id="NombreCompleto" name="NombreCompleto" class="form-control" 
                       value="@Model.NombreCompleto" required />
                @if (ViewData["NombreCompletoError"] != null)
                {
                    <div class="text-danger">@ViewData["NombreCompletoError"]</div>
                }
            </div>

            <div class="form-group">
                <label for="RolID">Role:</label>
                <select id="RolID" name="RolID" class="form-control" disabled>
                    <option value="1">Entrenador</option>
                    <option value="2">Enfermera</option>
                    <option value="3">Administrador</option>
                </select>
            </div>


            <button type="submit" class="registro-button">Registrar</button>

            <div class="forgot-password">
                <a href="/forgot-password">Already have an account? Login here</a>
            </div>
        </form>
    </div>
    <div class="pokemon-characters">
        <img src="~/images/login2.png" alt="login2" />
    </div>
</div>
