@model IEnumerable<ProyectoG2_Pokedex.Models.EnfermeriaModel>

@{
    ViewData["Title"] = "Servicio de Enfermería";
}

<link rel="stylesheet" href="~/css/site.css" />

<h1>@ViewData["Title"]</h1>

<table class="enfermeria-list">
    <thead>
        <tr>
            <th>ID Atención</th>
            <th>Nombre Pokémon</th>
            <th>Nombre Dueño</th>
            <th>Padecimiento</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var enfermeria in Model)
        {
            <tr>
                <td>@enfermeria.AtencionID</td>
                <td>@enfermeria.NombrePokemon</td>
                <td>@enfermeria.NombreDueño</td>
                <td>@enfermeria.Padecimiento</td>
                <td>@enfermeria.Estado</td>
                <td style="text-align: center;">
                    <form asp-action="CurarPokemon" method="post" style="display:inline;">
                        <input type="hidden" name="atencionID" value="@curso.AtencionID" />
                        <button type="submit" class="btn btn-danger">Curar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("IngresarPokemon", "Enfermeria")" class="btn btn-success">Ingresar Pokémon</a>
